---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About Raviraj and this blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>
    <p>Hey, I’m <strong>Raviraj</strong>. I’m a software developer who’s pretty much obsessed with building cool stuff and figuring out how things work under the hood.</p>
    <p>I started this blog to share what I’ve learned — from neat little coding tricks to big-picture concepts that blew my mind. My goal? Keep things simple, practical, and fun, so it doesn’t feel like boring tech talk.</p>
    <p>Think of this place as me geeking out on the internet — writing about ideas, tools, and experiments that get me excited. Hopefully, you’ll find something here that sparks your curiosity too.</p>
    <p>Thanks for stopping by! Grab a coffee, poke around, and let’s learn some cool stuff together.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
