<div>
  <img src="/assets/profile-pic.jpeg" alt="profile">
  <p>
    Hey, I'm <strong>Raviraj</strong>. I'm a software developer who loves building cool stuff and sharing what I learn along the way.  
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
